<!--
  <body>
    <ul class="overflow-hidden bg-gray-900 list-none">
      <li class="float-left"><a class="block text-white text-center px-4 py-4 no-underline hover:bg-sky-700" href="#home" routerLink="/">Home</a></li>
      <li class="float-left"><a class="block text-white text-center px-4 py-4 no-underline hover:bg-sky-700" href="#contact" routerLink="/contactus">Contact</a></li>
      <li class="float-left"><a class="block text-white text-center px-4 py-4 no-underline hover:bg-sky-700" href="#login" routerLink="/login">Login</a></li>
    </ul>
  </body> -->


  <body>
    <ul class="flex flex-row gap-4 place-content-center bg-gray-900 list-none">
      <li class=""><a class="hover:after:content-['ome'] block text-white text-center px-4 py-4 no-underline hover:bg-sky-700" href="#home" routerLink="/">H</a></li>
      <li class=""><a class="hover:after:content-['ontact'] block text-white text-center px-4 py-4 no-underline hover:bg-sky-700" href="#contact" routerLink="/contactus">C</a></li>
      <li class=""><a class="hover:after:content-['ogin'] block text-white text-center px-4 py-4 no-underline hover:bg-sky-700" href="#login" routerLink="/login">L</a></li>
    </ul>
  </body>
  <!-- <body>
    <div class="p-20">
        <div class="w-96 h-72 bg-indigo-700 p-20
            hover:before:content-['Hello'] before:text-sky-300 before:text-4xl
            hover:after:content-['Goodbye'] after:text-amber-300 after:text-4xl
            ">
            <h1 class="text-4xl text-white">KindaCode.com</h1>
        </div>
    </div>
</body> -->
